.page-not-found {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    color: #db0c0ce3;
  }
  &__image {
    width: 35%;
    height: 30%;
  }
  &__link {
    margin-top: 20px;
    font-weight: bold;
    font-size: larger;
  }
}
